
# path to the original WICED sdk tarball
WICED_SDK_BUNDLE_PATH=/path/to/wiced/sdk/archive

TARGET_PLATFORM=BCM943341WCD1

#FreeRTOS or ThreadX
TARGET_OS=ThreadX

#LwIP, NetX or NetX_Duo
TARGET_IPSTACK=NetX_Duo

 #debug or release
TARGET_BUILD=debug

